{% extends 'base.html' %}

{% block body %}

    <br>
    <div class="button-group">

        <a href="{% url 'show_laptops' %}" class="btn btn-primary btn-md" role="button"> Laptops</a>
        <a href="{% url 'add_laptop' %}" class="btn btn-warning btn-sm" role="button"> +</a>

        <a href="{% url 'show_desktops' %}" class="btn btn-primary btn-md" role="button"> Desktops</a>
        <a href="{% url 'add_desktop' %}" class="btn btn-warning btn-sm" role="button"> +</a>

        <a href="{% url 'show_mobiles' %}" class="btn btn-primary btn-md" role="button"> Mobiles</a>
        <a href="{% url 'add_mobile' %}" class="btn btn-warning btn-sm" role="button"> +</a>

    </div>

    <br>
    <h4>{{ header }}</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
            <th>Issues</th>
        </tr>
        </thead>

        <tbody>

        {% for item in items %}

            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.issues }}</td>
                <td>
                    <a href="#" class="btn btn-warning btn-sm" role="button">Edit</a>
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}